pipeline/DataDigger - Azure Dataflow.json
{
	"name": "DataDigger - Azure Dataflow",
	"properties": {
		"description": "Master pipeline to move the data from within Azure services",
		"activities": [
			{
				"name": "Azure Blob to Stage - Main File",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Copy From Blob To SQL DB",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Azure Blob to Stage - Lookup File CityGeo",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Load Stg CityGeo",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Azure Blob to Stage - Lookup File Countries",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Load Stg Countries",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Load EDW Dimensions",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Azure Blob to Stage - Main File",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Azure Blob to Stage - Lookup File CityGeo",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Azure Blob to Stage - Lookup File Countries",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Load Dimensions",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Load EDW Facts",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load EDW Dimensions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Load Facts",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Refresh AAS Tabular Model",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load EDW Facts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Refresh AAS D3Model",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Send Email To Data Digger Account",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Refresh AAS Tabular Model",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-88.eastus.logic.azure.com:443/workflows/8bcf4672e3ce4160a75a28bdee9cd4d9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=nzGqGV6m2vZbSx35uI-dqyhInfqyz733ZMEYzfZJ7HY",
					"method": "POST",
					"headers": {
						"Content.Type": "application/json"
					},
					"body": {
						"value": "{\n    \"Pipeline\":\"@{pipeline().Pipeline}\",\n    \"ErrorMessage\": \"@{activity('Refresh AAS Tabular Model').Error.Message}\",\n    \"DataFactoryName\": \"@{pipeline().DataFactory},\n    \"RunID\": \"@{pipeline().RunId}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}