datafactory-datadiggers/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "datafactory-datadiggers"
		},
		"BlobConnection_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BlobConnection'"
		},
		"StageDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'StageDB'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Refresh AAS D3Model')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Refresh AAS D3 Model",
						"description": "Data Digger Diversity Model",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://eastus.asazure.windows.net/servers/anaservdatadiggers/models/DataDiggersDiversityModel/refreshes",
							"method": "POST",
							"headers": {},
							"body": {
								"Type": "Full",
								"CommitMode": "transactional",
								"MaxParallelism": 2,
								"RetryCount": 2,
								"Objects": []
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://*.asazure.windows.net"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobConnection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('BlobConnection_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StageDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('StageDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load Dimensions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load Dim Tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[edw].[USP_Load_Dimensions]"
						},
						"linkedServiceName": {
							"referenceName": "StageDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/StageDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load Facts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load Fact Table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[edw].[USP_Load_Facts]"
						},
						"linkedServiceName": {
							"referenceName": "StageDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/StageDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InputEthnicityBlob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ethnicityData.txt",
						"container": "inputfile"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "num_code\talpha_2_code\talpha_3_code\ten_short_name\tnationality",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InputLocationBlob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "locationDF2.txt",
						"container": "inputfile"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "City\tlatitude\tlongitude",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InputTxtBlob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Diversity_Owned_Data_delimited.txt",
						"container": "inputfile"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "dunsNum\tdunsName\tcounty\tstreetAddress\tcity\tSTATE\tzip\tphone\texecutiveContact1\texecutiveContact2\tisWomanOwned\tMinorityOwnedDesc\tPrimaryLeadershipGender\tPrimaryLeadership_Nationality",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OutputSQLEthnicitySTGCountries')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "StageDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Country_Code",
						"type": "nvarchar"
					},
					{
						"name": "Country_Name",
						"type": "nvarchar"
					},
					{
						"name": "Nationality",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "STG_Countries"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/StageDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OutputSQLLocationSTGCityGeo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "StageDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "City_Name",
						"type": "nvarchar"
					},
					{
						"name": "Latitude",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "Longitude",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "STG_City_Geography"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/StageDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OutputSQLTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "StageDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "dunsNum",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "dunsName",
						"type": "nvarchar"
					},
					{
						"name": "county",
						"type": "nvarchar"
					},
					{
						"name": "streetAddress",
						"type": "nvarchar"
					},
					{
						"name": "city",
						"type": "nvarchar"
					},
					{
						"name": "STATE",
						"type": "nvarchar"
					},
					{
						"name": "zip",
						"type": "nvarchar"
					},
					{
						"name": "phone",
						"type": "nvarchar"
					},
					{
						"name": "executiveContact1",
						"type": "nvarchar"
					},
					{
						"name": "executiveContact2",
						"type": "nvarchar"
					},
					{
						"name": "isWomanOwned",
						"type": "nvarchar"
					},
					{
						"name": "MinorityOwnedDesc",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryLeadershipGender",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryLeadershipNationality",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "STG_DiversityInformation"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/StageDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy From Blob To SQL DB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Blog Txt To SQL Table",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [dbo].[STG_DiversityInformation]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "# dunsNum",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DUNS_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "dunsName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DUNS_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "county",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "County",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "streetAddress",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Street_Address",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "zip",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Zip_Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Phone_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "executiveContact1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Primary_executive_Contact",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "executiveContact2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Secondary_executive_Contact",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "isWomanOwned",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Is_Woman_Owned",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MinorityOwnedDesc",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Minority_Owned_Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PrimaryLeadershipNationality",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Primary_Leadership_Country",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PrimaryLeadershipGender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Primary_Leadership_Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "InputTxtBlob",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "OutputSQLTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Pipeline Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Blog Txt To SQL Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_ADFStagingPipelineLog]",
							"storedProcedureParameters": {
								"ADFName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"CopyTimeSeconds": {
									"value": {
										"value": "@{activity('Blog Txt To SQL Table').output.copyDuration}",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Dest": {
									"value": null,
									"type": "String"
								},
								"DestType": {
									"value": {
										"value": "@{activity('Blog Txt To SQL Table').output.executionDetails[0].sink.type}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionStatus": {
									"value": {
										"value": "@{activity('Blog Txt To SQL Table').output.executionDetails[0].status}",
										"type": "Expression"
									},
									"type": "String"
								},
								"LogCreatedUTCDate": {
									"value": {
										"value": "@{utcnow()}",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowsCopied": {
									"value": {
										"value": "@{activity('Blog Txt To SQL Table').output.rowsCopied}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowsRead": {
									"value": {
										"value": "@{activity('Blog Txt To SQL Table').output.rowsRead}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"SourceType": {
									"value": {
										"value": "@{activity('Blog Txt To SQL Table').output.executionDetails[0].source.type}",
										"type": "Expression"
									},
									"type": "String"
								},
								"Src": {
									"value": null,
									"type": "String"
								},
								"TriggerID": {
									"value": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "StageDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-05-13T18:14:37Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/InputTxtBlob')]",
				"[concat(variables('factoryId'), '/datasets/OutputSQLTable')]",
				"[concat(variables('factoryId'), '/linkedServices/StageDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load Stg CityGeo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LocationData To STG_CityGeo",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [dbo].[STG_City_Geography]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "latitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Latitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "longitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Longitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "InputLocationBlob",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "OutputSQLLocationSTGCityGeo",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/InputLocationBlob')]",
				"[concat(variables('factoryId'), '/datasets/OutputSQLLocationSTGCityGeo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load Stg Countries')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EthnicityData To STG_Countries",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [edw].[Dim_Ethnicity]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "alpha_3_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country_Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "en_short_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "nationality",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Nationality",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "InputEthnicityBlob",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "OutputSQLEthnicitySTGCountries",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/InputEthnicityBlob')]",
				"[concat(variables('factoryId'), '/datasets/OutputSQLEthnicitySTGCountries')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RunStagingPipeline')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Reads txt data from Azure Blob and loads data to Azure SQL DB staging table (after truncating)",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Copy From Blob To SQL DB",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-05-13T18:24:00",
						"endTime": "2022-05-31T18:24:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								5
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Copy From Blob To SQL DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataDigger - Azure Dataflow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Master pipeline to move the data from within Azure services",
				"activities": [
					{
						"name": "Azure Blob to Stage - Main File",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy From Blob To SQL DB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Azure Blob to Stage - Lookup File CityGeo",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load Stg CityGeo",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Azure Blob to Stage - Lookup File Countries",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load Stg Countries",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load EDW Dimensions",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Azure Blob to Stage - Main File",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Azure Blob to Stage - Lookup File CityGeo",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Azure Blob to Stage - Lookup File Countries",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load Dimensions",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load EDW Facts",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load EDW Dimensions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load Facts",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Refresh AAS Tabular Model",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load EDW Facts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Refresh AAS D3Model",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Send Email To Data Digger Account",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Refresh AAS Tabular Model",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-88.eastus.logic.azure.com:443/workflows/8bcf4672e3ce4160a75a28bdee9cd4d9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=nzGqGV6m2vZbSx35uI-dqyhInfqyz733ZMEYzfZJ7HY",
							"method": "POST",
							"headers": {
								"Content.Type": "application/json"
							},
							"body": {
								"value": "{\n    \"Pipeline\":\"@{pipeline().Pipeline}\",\n    \"ErrorMessage\": \"@{activity('Refresh AAS Tabular Model').Error.Message}\",\n    \"DataFactoryName\": \"@{pipeline().DataFactory},\n    \"RunID\": \"@{pipeline().RunId}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Copy From Blob To SQL DB')]",
				"[concat(variables('factoryId'), '/pipelines/Load Stg CityGeo')]",
				"[concat(variables('factoryId'), '/pipelines/Load Stg Countries')]",
				"[concat(variables('factoryId'), '/pipelines/Load Dimensions')]",
				"[concat(variables('factoryId'), '/pipelines/Load Facts')]",
				"[concat(variables('factoryId'), '/pipelines/Refresh AAS D3Model')]"
			]
		}
	]
}