datafactory-datadiggers/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "datafactory-datadiggers"
		},
		"BlobConnection_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BlobConnection'"
		},
		"StageDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'StageDB'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/BlobConnection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('BlobConnection_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StageDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('StageDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/InputTxtBlob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Diversity_Owned_Data.txt",
						"container": "inputfile"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "dunsNum\tdunsName\tcounty\tstreetAddress\tcity\tSTATE\tzip\tphone\texecutiveContact1\texecutiveContact2\tisWomanOwned\tMinorityOwnedDesc\tPrimaryLeadershipGender\tPrimaryLeadership_Nationality",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OutputSQLTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "StageDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "dunsNum",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "dunsName",
						"type": "nvarchar"
					},
					{
						"name": "county",
						"type": "nvarchar"
					},
					{
						"name": "streetAddress",
						"type": "nvarchar"
					},
					{
						"name": "city",
						"type": "nvarchar"
					},
					{
						"name": "STATE",
						"type": "nvarchar"
					},
					{
						"name": "zip",
						"type": "nvarchar"
					},
					{
						"name": "phone",
						"type": "nvarchar"
					},
					{
						"name": "executiveContact1",
						"type": "nvarchar"
					},
					{
						"name": "executiveContact2",
						"type": "nvarchar"
					},
					{
						"name": "isWomanOwned",
						"type": "nvarchar"
					},
					{
						"name": "MinorityOwnedDesc",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryLeadershipGender",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryLeadershipNationality",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "STG_MOA_DATA"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/StageDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy From Blob To SQL DB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Blog Txt To SQL Table",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [dbo].[STG_MOA_DATA]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "dunsNum",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dunsNum",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "dunsName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dunsName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "county",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "county",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "streetAddress",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "streetAddress",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "zip",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "zip",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "phone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "executiveContact1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "executiveContact1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "executiveContact2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "executiveContact2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "isWomanOwned",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "isWomanOwned",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MinorityOwnedDesc",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MinorityOwnedDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PrimaryLeadershipGender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PrimaryLeadershipGender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PrimaryLeadership_Nationality",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PrimaryLeadershipNationality",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "InputTxtBlob",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "OutputSQLTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Pipeline Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Blog Txt To SQL Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_ADFStagingPipelineLog]",
							"storedProcedureParameters": {
								"ADFName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"CopyTimeSeconds": {
									"value": {
										"value": "@{activity('Blog Txt To SQL Table').output.copyDuration}",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Dest": {
									"value": null,
									"type": "String"
								},
								"DestType": {
									"value": {
										"value": "@{activity('Blog Txt To SQL Table').output.executionDetails[0].sink.type}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionStatus": {
									"value": {
										"value": "@{activity('Blog Txt To SQL Table').output.executionDetails[0].status}",
										"type": "Expression"
									},
									"type": "String"
								},
								"LogCreatedUTCDate": {
									"value": {
										"value": "@{utcnow()}",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowsCopied": {
									"value": {
										"value": "@{activity('Blog Txt To SQL Table').output.rowsCopied}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowsRead": {
									"value": {
										"value": "@{activity('Blog Txt To SQL Table').output.rowsRead}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"SourceType": {
									"value": {
										"value": "@{activity('Blog Txt To SQL Table').output.executionDetails[0].source.type}",
										"type": "Expression"
									},
									"type": "String"
								},
								"Src": {
									"value": null,
									"type": "String"
								},
								"TriggerID": {
									"value": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "StageDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-05-13T18:14:37Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/InputTxtBlob')]",
				"[concat(variables('factoryId'), '/datasets/OutputSQLTable')]",
				"[concat(variables('factoryId'), '/linkedServices/StageDB')]"
			]
		}
	]
}